.calculadora {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 410px;
    background-color: black;
    position: fixed;
}

.visor input {
    margin: 10px;
    width: 320px;
    height: 60px;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    border-radius: 5%;
}

.botoes button {
    margin: 10px;
    font-size: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.botao {
    background-color: aqua;
}

.igual {
    background-color: #00ff00;
}

.botoes .limpar {
    background-color: red;
} 